body{
margin:0;
overflow:hidden;
background:#0b1220;
font-family:Arial;
}

canvas{
position:fixed;
top:0;
left:0;
}

#ui{
position:absolute;
top:20px;
left:20px;
background:rgba(0,0,0,0.8);
padding:15px;
border-radius:10px;
color:white;
}

#tooltip{
position:absolute;
background:black;
color:white;
padding:5px 8px;
border-radius:6px;
display:none;
font-size:13px;
}
