body{
margin:0;
overflow:hidden;
background:#0b1220;
font-family:Arial;
}

canvas{
position:fixed;
top:0;
left:0;
z-index:0;
}

#ui{
position:absolute;
top:20px;
left:20px;
background:rgba(0,0,0,0.8);
color:white;
padding:15px;
border-radius:10px;
z-index:10;
}

#tooltip{
position:absolute;
color:white;
background:black;
padding:4px 8px;
border-radius:5px;
display:none;
z-index:20;
}
